[filter "clean-odf-flat-xml"]
	clean = \"Git Clean and Smudge Filters/clean-odf-flat-xml.bash\"

[filter "clean-xml"]
	clean = \"Git Clean and Smudge Filters/clean-xml.bash\"

[filter "clean-svg"]
	clean = \"Git Clean and Smudge Filters/clean-svg.bash\"
